.click {
    border: 3px solid rgb(235, 223, 223);
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 2px 3px  rgb(145, 138, 138);
    position: relative;
    overflow: hidden;
}
.click:hover {
    background-color: rgb(236, 227, 227);
}
.click:focus {
    outline: none;
  
}

.layout {
    text-align: center;    
}
.click >.circle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: rgb(200, 201, 209);
    display: inline-block;
    animation:1s big forwards;
    position: absolute;
    z-index: 0;

}
.click > .value {
    position: relative;
    z-index: 1;
}
@keyframes big {
    0% {
        transform: scale(0.1)
    }
    100% {
        transform: scale(18)
    }
}
